<%=  form_tag(posts_path) do %>
    <div class="post-field">
        <%= label_tag("Label: ") %> <br/>
        <%= text_field_tag("label", @post.label) %>
    </div>

    <div class="post-field">
        <%= label_tag("Url: ") %> <br/>
        <%= text_field_tag("url", @post.url) %>
    </div>

    <%= button_tag("Add Link!") %>
<% end %>
