<!DOCTYPE html>
<html>
<head>
  <title>Forgeddit</title>
  <%= stylesheet_link_tag    'ap`plication', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1> WHAT THE HELL IS THIS? </h1>
	<nav>
		<% if current_user %>
			<h5>LOGGED IN AS: <%= current_user.username %></h5>
			<%= link_to("Logout", login_path, method: :delete) %>
		<% else %>
			<%= link_to("Signup", new_register_path) %>
			<%= link_to("Login", login_path) %>
		<% end %>
	</nav>

	<% if flash[:notice] %>
		<h6 class="alert"><%= flash[:notice] %></h6>
	<% end %>

<%= yield %>

</body>
</html>
